* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wall,
.sushi,
.blank,
.ninja-man,
.onigiri {
  width: 50px;
  height: 50px;
}
.sushi,
.ninja-man,
.blank {
  background-color: rgb(24, 23, 23);
}
.wall {
  background-color: #e9bc90;
}
.row {
  display: inline-block;
}
.sushi {
  background-image: url(img/sushi.png);
  background-size: contain;
}
.onigiri{
  background-image: url(img/onigiri.png);
  background-size: contain;
}
.ninja-man {
  background-image: url(img/ninja.gif);
  background-size: contain;
  position: absolute;
}
.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  flex-wrap: wrap;
  padding: 3px;
  left: 19%;
  top: 5px;
  background-color: rgba(179, 36, 83, 0.3);
  width: 10em;
  font-family: serif;
  font-size: 1rem;
}
.score img{
  width: 1em;
}
